header{
    display: flex;
    align-items: stretch; 
    background-color: rgb(223, 211, 222);
    justify-content: center;
    width: 100%;
}
.logo {
    width: 40px;
    height: 40px;
}
h1{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: blueviolet;
}
nav {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: blueviolet;
}
img {
    width: 500;
    height: 250;
}
body {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    text-align: center;
}
main {
    height: 300px;
    width: 85%;
    background-color: rgb(223, 211, 222);
}
aside {
    background-color: rgb(129, 163, 238);
    width: 15%;
    height: 300px;
    justify-content: center;
}